.main-img {
    background-image: url("https://i.pinimg.com/originals/22/a9/eb/22a9eb00a7684465f681334ae65e8fde.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
}
h1 {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 50px 20px;
    padding-left: 150px;
    padding-right: 300px;
}
.container {
    width: 100%;
    height: 1000px;
}

.row {
    padding-left: 150px;
    padding-right: 150px;
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
    padding-left:500px;
    padding-top:200px;   
}

/* Control the right side */
.right {
    right: 0;
    padding-right: 250px;
    padding-top: 200px;
}
.form-group {
    font-size: 20px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #dbd6d6;
}

